* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
  }
  
  header {
    height: 10vh;
    background-color: rgb(210, 210, 210);
  }
  
  main {
    height: 80vh;
  }
  
  footer {
    height: 10vh;
    background-color: rgb(210, 210, 210);
  }
  
  figure, nav {
    display: inline-block;
    margin: 1rem;

}
  
  li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
    color: white;
  }
  
  nav {
    position: absolute;
    right: 1.5rem;
  }
  
  aside, section {
    display: inline-block;
    height: 80vh;
  }
  
  aside {
    width: 20vw;
    background-color: peachpuff;
  }
  
  aside div {
    padding: 1rem;
    height: 15vh;
    margin: 1vh;
    background-color: white;
    border-radius: 15px;
  }
  
  section {
    position: absolute;
    left: 20vw;
    width: 80vw;
    padding: 1rem;
    background-color: gray;
  }
  
  .footer-social, .footer-info {
    display: inline-block;
    margin: 1rem;
  }
  
  .footer-info {
    position: absolute;
    right: 1.5rem;
  }